{% extends 'Layout/default.twig' %}
{% block content %}
    <div class="wrapper text-center">
        <div>
            <h1>ERROR 404</h1>
            <h2>Page: {{ path }} Not Found.</h2>
        </div>
    </div>
{% endblock %}